[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-restful = "*"
flask-jwt-extended = "*"
marshmallow = "==3.0.0rc8"
flask-marshmallow = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
marshmallow-sqlalchemy = "*"
psycopg2-binary = "*"
ptvsd = "==4.3.2"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
